<p id="notice"><%= notice %></p>

<div class="ShadowBox">

<center><h1 class= "section-heading" style="color:green;font-size:300%;font-family:'Contrail One',cursive; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);">Companies</h1>


<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.username %></td>
        <td><%= company.firstname %></td>
        <td><%= company.lastname %></td>
        <td><%= company.password %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path, class: "btn btn-primary btn-xl text-uppercase", style: "color:white" %>

</center>
</div>